# Wazuh
WAZUH_API_URL=
WAZUH_API_USER=
WAZUH_API_PASSWORD=
WAZUH_INDEXER_URL=
WAZUH_INDEXER_USER=
WAZUH_INDEXER_PASSWORD=
WAZUH_VERIFY_SSL=false

# ELK
ELK_URL=
ELK_USER=
ELK_PASSWORD=
ELK_VERIFY_SSL=false

# Grafana
GRAFANA_URL=
GRAFANA_TOKEN=
GRAFANA_VERIFY_SSL=false

# Zabbix
ZABBIX_URL=
ZABBIX_USER=
ZABBIX_PASSWORD=